<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Walmart </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../css/asociado.css">
  <link rel="stylesheet" href="../css/dashboard.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
</head>

<body>
  <div class="container-fluid row">
      <div class="col s3 nav-bg">
          <div class="nav">
            <div class="titulonav">
              <ul class="list">
                <li><img class="img-width" src="../assets/walmart-logo-w.png"></li>
                <br>
                <li>
                  <a href="#name"><span class="white-text name">Asociado</span></a>
                </li>
                <li>
                  <a href="#email"><span class="white-text email">asociado@walmart.mx</span></a>
                </li>
                <br>
                <li>
                  <a href="./asociado.html"><span class="white-text">Ordenes</span></a>
                </li>
                <li>
                  <a href="./singuia.html"><span class="white-text">Peticiones Incompletas</span></a>
                </li>
                <li>
                  <a href="./segTweets.html"><span class="white-text">Peticiones de Consulta</span></a>
                </li>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <li><a href="./dashboard.html" class="exit"><span class="white-text">Volver</span></a></li>
              </ul>
            </div>
          </div>
        </div>

  <!--JQuery para menú desplegable-->
<!--Empieza section de orderes-->
    <section class="container col s8">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Telefono</th>
            <th>Fecha de Entrega</th>
            <th>Hora de Entrega</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody id="data">
        </tbody>
      </table>
      <!-- este codigo es el que deberia repetirse -->
    </section>
  </div>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../js/api.js">
  </script>
  <script src="../js/asociado.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase.js"></script>

</body>

</html>
