body {
  background-color: #F8F9FA;
  
}


.img-width {
  width: 203px;
}

/* prueba nav */

.nav{
  width: 300px;
  height: 100vh;
}

.titulonav {   

  font-size: 1.3em;
  /* font-weight: bold; */
}

.cuerporec span{
  text-decoration: none;
}

.nav-bg {
  height: 150vh;
  background-color: #004C91;
}

.list {
  margin-left: 1em;
  align-content: center;
}


.cards {
  padding-top: 11em;
}
.card-shadow {
  box-shadow: 8px 14px 42px -6px rgba(0,0,0,0.75);
  border-right: 35%;
}