
.inputs{
    padding: .5rem;
    width: 100%;
};

.btnSend{
    background-color: #004c91;
    color: white;
    height: 3rem;
    margin-top: 1rem;
    width: 100%;
};

.bg-blue {
    padding: 5em;
};
